<!doctype html>
<html>
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="recipes.css">
    <link rel="stylesheet" href="pico.classless.min.css">
    <meta charset="UTF-8"> 
  </head>
  <body>
    <main>
      <h1>Recipes</h1>
      <div id="app">
        <section v-if="errored">
          <p>Trouble.</p>
        </section>
        <section v-else>
          <div v-if="loading">Loading...</div>
          <div v-else>
            <input v-model="search" v-on:input="search = $event.target.value" name="search" type="search" placeholder="Search by name, ingredient, or source" id="search" autocomplete="off">
            <span v-cloak id="count">{{ filteredRecipes.length }}</span>
            <template v-for="recipe in sortedRecipes">
              <section v-bind:aria-label="recipe.name">
                <article>
                  <header>
                    <span class="name">{{ recipe.name }}</span>
                    <span class="source" v-html="$options.filters.toURL(recipe.source)"></span>
		  </header>
                  <template v-for="item in recipe.ingredients">
                    <span id="ingredient">{{ item.ingredient }}</span>:
                    {{ item.amount }}<br>
                  </template>
		  <footer v-if="recipe.tags">
		    <template v-for="tag in recipe.tags">
		      <a :href="'?search='+tag" role="button" class="label" :class="tagClass(tag)">{{ tag.slice(4) }}</a>&nbsp;
		    </template>
		  </footer>
                </article>
              </section>
            </template>
          </div>
        </section>
      </div>
    </main>
    <script src="bundle.js"></script>
  </body>
</html>
