html {
    font-family: Verdana;
}

body {
    padding-left: 15em;
}

h2 {
    width: 30em;
    background-color: lightgray;
    font-size: 120%;
    padding: 10px;
}

p {
    width: 30em;
    margin-left: 10px;
}

span#ingredient {
    font-weight: bold;
}

span.source {	
    font-size: 80%;
    float: right;
}

span.label {
  color: white;
  padding: 6px;
  border-radius: 16%;
  font-size: 90%;
}

a.label {
  text-decoration: none;
}

.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */
