html {
    font-family: Verdana;
}

body {
    padding-left: 15em;
}

h2 {
    width: 30em;
    background-color: lightgray;
    font-size: 120%;
    padding: 10px;
}

p {
    width: 30em;
    margin-left: 10px;
}

span#count {
    padding-left: 0.5em;
}

span#ingredient {
    font-weight: bold;
}

span.source {	
    font-size: 80%;
    float: right;
}

span.label {
  color: white;
  padding: 6px;
  border-radius: 10px;
  font-size: 90%;
}

a.label {
  text-decoration: none;
}

/* colors from
   https://colorbrewer2.org/#type=diverging&scheme=Spectral&n=5
*/
.success {background-color: #abdda4;} /* green  */
.info {background-color: #2b83ba;}    /* blue   */
.warning {background-color: #fdae61;} /* orange */
.danger {background-color: #d7191c;}  /* red    */
.other {background-color: #ffffbf;}   /* yellow */
