h2 {
    width: 80%;
    background-color: lightgray;
    font-size: 120%;
    padding: 10px;
    border-radius: 0.25rem;
}

input#search {
    width: 80%;
}

span#count {
    padding-left: 0.5em;
}

span#ingredient {
    font-weight: bold;
}

span.source {	
    font-size: 80%;
    float: right;
}

/* colors from
   https://colorbrewer2.org/#type=diverging&scheme=Spectral&n=5
*/
a.success {
    background-color: #abdda4;
    --pico-border-color: #abdda4;
} /* green  */
a.info {
    background-color: #2b83ba;
    --pico-border-color: #2b83ba;
}    /* blue   */
a.warning {
    background-color: #fdae61;
    --pico-border-color: #fdae61;
} /* orange */
a.danger {
    background-color: #d7191c;
    --pico-border-color: #d7191c;
}  /* red    */
a.other {
    background-color: #ffffbf;
    --pico-border-color: #ffffbf;
}   /* yellow */
